* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% ); 
    background-size: cover;
    background-attachment: fixed;
}

header, footer {
    display: flex;
    flex-direction: column;    
    width: 100%;
    background-color: #323232;    
    padding: 15px;    
}

header > nav > ul,
footer > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
}

header nav {
    padding-top: 10px;
    padding-bottom: 3px;    
    border-radius: 30px;
    background-color: rgba(137, 43, 226, 0.689);
    opacity: 0.7;    
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: 200px;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-right: 300px;    
}

/* HERO */
#hero {
    height: 100vh;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hero-presentation {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-titles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-titles h1 {
    color: aliceblue;
    font-size: 3rem;
    text-shadow: 2px 2px #323232ec;
}

.hero-titles h3 {
    color: #ecca1b;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    text-shadow: 2px 2px #323232ec;
}

#im {
    color: #ecc91bcf;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
}

.hero-summary {
    display: flex;
    flex-direction: column;    
    align-items: center;
    color: gray;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;        
}

.hero-img {
    display: flex;
    flex-direction: column;
    width: 600px;
}

/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-p {
    display: flex;
    flex-direction: column;
    color: burlywood;
    width: 700px;
    font-size: 1.5rem;
}

.about-skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #ecc91bcf;
    margin-top: 40px;
}

.about-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.tech-card {
    display: flex;    
    align-items: center;    
    justify-content: center;
    max-width: fit-content;    
    flex-wrap: wrap;
    padding: 20px;
    width: 180px;
    height: 200px;
    border: 1px solid rgba(0, 128, 0, 0.568);
    border-radius: 10px;
    background: #32323256;    
}

.tech-card-img {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.about-skills:last-child .tech-card-img:first-child {
    width: 45px;
}

.tech-card-description {
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 0;
}

.tech-card-description h3 {
    color: #fff;
    font-size: 1rem;
}

.tech-card-description p {    
    text-align: center;
    color: burlywood;
    font-size: 0.9rem;
    font-style: italic;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
    #hero {
        height: 100vh;    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-presentation {
        margin-top: 300px;
        
    }

    .hero-img {
        margin-top: 100px;
        width: 30rem;        
    }

    #about {
        margin-top: 350px;        
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid green;
        
    }

    .about-p {
        width: 30rem;               
    }

    .about-skills {
        display: flex;
        flex-direction: column;        
    }

    .tech-card {
        width: 250px;
        height: 280px;        
    }

    
    
}
